@import url('https://rsms.me/inter/inter.css');
html {
  background-color: #202124;
  color: #ffffff;
  font-family: Inter sans-serif;
  }
  .heading {
    text-align: center;
    position: fixed;
    width: 100%;
              }
  .footer {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
    text-align: center;
  }
  a:link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: #c58af9;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #c58af9;
    background-color: transparent;
    text-decoration: underline;
  }


body {
  margin: 0;
}

.search-container {
  position: fixed;
  top: 10px;
  right: 10px;
  max-width: 400px; /* Adjust the maximum width as needed */
}

.search-container input[type=text] {
  padding: 5px;
  width: 100%; /* Make the input take the full width of the container */
}

#gameLinksContainer {
  margin-top: 40px; /* Add margin to create space below the search box */
  display: flex;
  flex-direction: column; /* Align links vertically */
}

#noResultsMessage {
  margin-left: 10px;
}
